html,
body {
  margin: 0;
  padding: 0;
  top: 0;
  font-family: "Bree Serif", serif;
  background-color: #f7c4a5;
  background-image: url(../img/grain.png);
  background-size: 300px 300px;
  background-position: 0 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  color: black;

  image-rendering: pixelated;
  image-rendering: optimizeSpeed;
}

.font_text {
  font-family: "Montserrat", sans-serif;
}

/* ----------- */

.bg-blur {
  backdrop-filter: blur(10px) !important;
  background-color: rgba(255, 255, 255, 0.548) !important;
}

.nav-link {
  margin: 0px 10px 0px 10px !important;
  padding: 0px 10px 0px 10px !important;
  font-size: 16pt;
}

.nav_cent_res {
  margin: 10px auto;
}
.nav_marg {
  margin-left: 20px;
}

.log_sign_nav {
  font-size: 14pt;
}

.log_sign_nav:hover {
  color: rgb(34, 34, 34) !important;
  text-decoration: underline;
}

.deco_btn {
  padding: 0 !important;
  margin: 0 !important;
  background: none;
  border: none;

  font-size: 14pt;
  margin-top: 10px !important;
  text-align: center;
}

.deco_btn:hover {
  color: rgb(34, 34, 34) !important;
  text-decoration: underline;
}

#shopping_list {
  display: flex;
}
#shopping_list img {
  width: 50px !important;
  justify-content: center;
  align-items: center;
}

/* ----------- */
.paralaxbox {
  width: 100%;
  max-width: 500px;
  height: auto;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#ex1-layer img {
  width: 100%;
  height: auto;
  display: block;
  filter: invert(1); /* <<<------------- */
}

/* ----------- */
header {
  display: flex;
  flex-direction: column;
}
header img {
  margin: 18px auto;
}

.form {
  position: relative;
}

.form {
  margin: 0% 10% 0% 10%;
  color: #9ca3af;
}
.search_zone_input {
  margin-top: -50px;
}
.form span {
  position: absolute;
  right: 17px;
  top: 0px;
  padding: 2px;
}

.form-input {
  height: 55px;

  text-indent: 33px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.596);
}

.form-input:focus {
  box-shadow: none;
  border: none;
}
.form-input:hover {
  background-color: white;
}

@media (min-width: 575px) {
  form-input {
    width: 300px !important;
    display: none !important;
  }
}

/* ----------- */

#search_zone {
  display: flex;
  justify-content: center;
}

.link_card_sh {
  text-decoration: none;
  color: black;
}

#search_zone_list {
  width: auto;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.829);
  position: absolute;
  z-index: 10000;
}

@media (max-width: 575px) {
  #search_zone_list {
    width: 400px;
    height: 350px;
  }
}

.plat_affiche {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.13);
  margin: 15px 10px 5px 10px;
  border-radius: 8px;
  align-items: center;
  background-color: #9ca3af49;
}
.plat_affiche img {
  height: 80px;
  width: 80px;
  border-radius: 5px;
  overflow: hidden;
}
.info_plat_sh {
  margin-left: 5px;
}

.plat_affiche:hover {
  background-color: #404e6849;
  transition: 200ms;
}

/* ----------- */
.card_img_test {
  overflow: hidden;
}

.img_card_cat {
  border-radius: 8px;
  object-fit: cover;
  max-width: 360px;
  height: 360px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.img_card_cat:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1); /* Safari and Chrome */
  -moz-transform: scale(1.1); /* Firefox */
  -ms-transform: scale(1.1); /* IE 9 */
  -o-transform: scale(1.1); /* Opera */
}

.cards_cat_mp {
  display: flex;

  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.315);
  width: 360px;
  height: 360px;
  position: relative;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.cards_cat_mp a {
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.349);
  display: inline-block;
  align-items: flex-end;
  vertical-align: bottom;
  position: absolute;
  bottom: 0px;
  text-decoration: none;
  font-size: 23pt;
  margin-bottom: 20px;
}

.cards_cat_mp a:hover {
  background-color: rgba(0, 0, 0, 0.589);
  transition: 50ms;
}

/* ------- */

#pres_cat_pl-pl,
.list_cat_mp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}
.mart-20 {
  margin-top: -20px !important;
}
#pres_cat_pl button {
  color: black;
  font-size: 16pt;
  margin: 20px auto;
  justify-content: center;
  padding: 5px 30px 5px 30px;
  background-color: #47b4d1;
  border: none;
}

#pres_cat_pl button:hover {
  background-color: #a4e3f5;
}

/* -- */

.img_zoom {
  display: inline-block;
  overflow: hidden;
  border-radius: 8px;
}

.cards_pl_mp {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.315);
  width: 360px;
  height: 170px;
  position: relative;
  margin: 10px;
  border-radius: 8px;
}

.img_card_plat_i {
  width: 360px;
  height: 170px;
  border-radius: 8px;
  object-fit: cover;
  overflow: hidden;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;

  vertical-align: middle;
}

.img_card_plat_i:hover {
  -webkit-transform: scale(1.1); /* Safari and Chrome */
  -moz-transform: scale(1.1); /* Firefox */
  -ms-transform: scale(1.1); /* IE 9 */
  -o-transform: scale(1.1); /* Opera */
  transform: scale(1.1);
  border-radius: 8px;
}

.cards_pl_mp a {
  color: white;
  text-align: center;
  padding: 5px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.349);
  display: inline-block;
  align-items: flex-end;
  vertical-align: bottom;
  position: absolute;
  bottom: 0px;
  text-decoration: none;
  font-size: 23pt;
  margin-bottom: -2px;
  border-radius: 0px 0px 8px 8px;
}

.cards_pl_mp a:hover {
  background-color: rgba(0, 0, 0, 0.589);
  transition: 50ms;
}

/* ----------- */

#pres_cat_pl-p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: center;
}

/* ----------- */

footer {
  background-color: black;
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 0px 50px 0px;

  /* border: 1px solid white; */
}

#social_link {
  display: flex;
  flex-direction: column;
  width: 350px;
}
#social_link h1 {
  text-align: center;
}

#social_link_logo {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

#social_link_logo img {
  width: 50px;
  height: 50px;
}

#footer_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  width: 350px;
}

#footer_logo_district {
  width: 350px;
  height: auto;
  margin: 0 auto;
}

#footer_nav {
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
  width: 350px;
  order: 2;
}

#footer_nav a {
  text-decoration: none;
  color: white;
  margin: 0px 10px 0px 10px;
}

#footer_rewards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 350px;
}
#michelin_logo {
  width: 190px;
  height: 120px;
  margin: 10px auto;
}
#bocuse_logo {
  width: 180px;
  height: 45px;
  margin: 10px auto;
}
#gaumill_logo {
  width: 120px;
  height: 120px;
  margin: 10px auto;
}
#img_rewards {
  display: flex;
  flex-direction: column;
}

@media (max-width: 951px) {
  #social_link {
    order: 1;
  }
  #footer_info {
    order: 2;
  }
  #footer_rewards {
    order: 3;
  }
}
