{% extends "base.html.twig" %}

{% block title %} Test {% endblock %}

{% block body %}
    
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, nesciunt. Perferendis assumenda, laboriosam, eos eum voluptate adipisci facere quo quibusdam exercitationem neque veniam tenetur nam optio sunt pariatur reiciendis laborum!

Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, nesciunt. Perferendis assumenda, laboriosam, eos eum voluptate adipisci facere quo quibusdam exercitationem neque veniam tenetur nam optio sunt pariatur reiciendis laborum!
</p>

{{ app.current_route }}

<br>

<hr>

{% for items in items %}
    <br>

{{items.libelle}}

{% endfor %}

<hr>

{{ items[1].libelle }}

{# <button class="btn btn-secondary" id="btn_mouse">Test</button> #}

{% endblock %}

